@model HiooshServer.Models.Rating

@{
    ViewData["Title"] = "Edit";
}
<div class="rating">
    <h1>Edit</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="NumberRating" class="control-label"></label>
                    <input asp-for="NumberRating" class="form-control" />
                    <span asp-validation-for="NumberRating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StringRating" class="control-label"></label>
                    <input asp-for="StringRating" class="form-control" />
                    <span asp-validation-for="StringRating" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" /> |
                    <a asp-action="Index" class="btn btn-primary" role="button" >Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
